[tool.poetry]
name = "graphene-protector"
version = "0.1.3"
description = "Protects graphene against malicious queries"
authors = ["alex <devkral@web.de>"]
license = "MIT"
repository = "https://github.com/devkral/graphene-protector"

[tool.poetry.dependencies]
python = ">3.5"
graphene = "*"
graphene-django = { version = "*", optional=true }

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
